<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.helloworld">

    <!-- 声明网络请求权限 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 存储读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- 电话外拨 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <!-- 接收短信 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <!-- 获取手机状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 录音功能 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- 开机 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- 添加百度地图的所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name=".Basic.Application.DemoApplcaition"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 添加百度地图的app的key -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="oTOlcTcHzGfGwdXOuIlNoQKSYqTFmIDu" />

        <!-- 所有的广播 -->
        <receiver android:name=".Basic.BroadCast.PhoneReceiver">
            <intent-filter>

                <!-- 监听手机打出去 -->
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>
        <receiver android:name=".Basic.BroadCast.SDCardReceiver">
            <intent-filter>

                <!-- SD 卡安装/卸载事件 -->
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_UNMOUNTED" />
                <!-- 其实就是一个大文件的操作 -->
                <data android:scheme="file" />
            </intent-filter>
        </receiver>
        <receiver android:name=".Basic.BroadCast.SmsReceiver">
            <intent-filter android:priority="1000">

                <!-- 接受短信 -->
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".Basic.BroadCast.ApkStatusReceiver">
            <intent-filter>

                <!-- 应用安装 -->
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <!-- 卸载 -->
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name=".Basic.BroadCast.BootReceiver">
            <intent-filter>

                <!-- 开机监听 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- 所有的服务 -->
        <service android:name=".Basic.Service.MyService" />
        <service android:name=".Basic.Service.CallService" />
        <service android:name=".Basic.Service.BootService" />

        <!-- 模拟远程调用 -->
        <service android:name=".Basic.RemoteService.AlipayService">
            <intent-filter>
                <action android:name="com.example.helloworld.action.ALiPAY" />
            </intent-filter>
        </service>
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <!-- 音乐播放服务 -->
        <service android:name=".Basic.Music.MusicService" />


        <!--图片下载-->
        <service android:name=".Projects.Ad.service.DownloadService"/>


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.TextViewActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".UI.ButtonActivity" />
        <activity android:name=".UI.EditTextActivity" />
        <activity android:name=".UI.RadioButtonActivity" />
        <activity android:name=".UI.CheckBoxActivity" />
        <activity android:name=".UI.ImageViewActivity" />
        <activity android:name=".UI.ListView.ListViewActivity" />
        <activity android:name=".UI.GridView.GridViewActivity" />
        <activity android:name=".UI.RecycleView.RecyclerViewActivity" />
        <activity android:name=".UI.RecycleView.LinearRecyclerViewActivity" />
        <activity android:name=".UI.RecycleView.HorRecyclerViewActivity" />
        <activity android:name=".UI.RecycleView.GridRecyclerViewActivity" />
        <activity android:name=".UI.RecycleView.WaterfallRecyclerViewActivity" />
        <activity android:name=".UI.WebView.WebViewActivity" />
        <activity android:name=".UI.ToastActivity" />
        <activity android:name=".UIActivity" />
        <activity android:name=".UI.DialogActivity" />
        <activity android:name=".UI.ProgressActivity" />
        <activity android:name=".UI.CustomDialogActivity" />
        <activity android:name=".UI.PopupWindowActivity" />
        <activity android:name=".UI.LifeCycleActivity" />
        <activity android:name=".UI.Fragment.ContainerActivity" />
        <activity android:name=".Basic.Event_Listener.EventListenerActivity" />
        <activity android:name=".Basic.Handler.HandlerActivity" />
        <activity android:name=".Basic.datastorage.DataStorageActivity" />
        <activity android:name=".Basic.datastorage.SharedPreferencesActivity" />
        <activity android:name=".Basic.datastorage.FileSaveActivity" />
        <activity android:name=".UI.DatePickerActivity" />
        <activity android:name=".Basic.Parse.XmlParseActivity" />
        <activity android:name=".Basic.SQLite.SqlLiteActivity" />
        <activity android:name=".UI.ListView.ExpandableListViewActivity" />
        <activity android:name=".Basic.Network.ImageLookerActivity" />
        <activity android:name=".Basic.Network.NewsListActivity" />
        <activity android:name=".Basic.Network.NetWorkActivity" />
        <activity android:name=".Basic.Network.AsycHttpClientActivity" />
        <activity android:name=".Basic.Network.MutilThreadDownLoadActivity" />
        <activity android:name=".Basic.RemoteService.TaobaoActivity" />
        <activity android:name=".Basic.Music.MusicListActivity" />
        <activity android:name=".Basic.Notice.SMSNoticeActivity" />
        <activity android:name=".Basic.ImageLoad.BigImageLoadActivity" />
        <activity android:name=".Basic.ImageLoad.ImageListActivity" />
        <activity android:name=".Basic.ImageLoad.ImageScaleActivity" />
        <activity android:name=".Basic.ImageLoad.ImageRotateActivity" />
        <activity android:name=".Basic.ImageLoad.ImageTranslateActivity" />
        <activity android:name=".Basic.ImageLoad.ImageReflectionActivity" />
        <activity android:name=".Basic.MemoryLeak.ReferenceActivity" />
        <activity android:name=".Basic.MemoryLeak.HandlerLeakActivity" />
        <activity android:name=".Basic.MemoryLeak.InnerClassStaticInstanceActivity" />
        <activity android:name=".Basic.MemoryLeak.ContextLeakActivity" />
        <activity android:name=".UI.ScreenAdapter.PercentActivity" />
        <activity android:name=".Basic.BaiduMap.LocationActivity" />
        <activity android:name=".Basic.BaiduMap.MarkerActivity" />
        <activity android:name=".Basic.BaiduMap.BaiduMapListActivity" />
        <activity android:name=".Basic.Optimize.ImageOptimizeActivity" />
        <activity android:name=".Basic.AsynTask.AsynTaskActivity" />
        <activity android:name=".BasicActivity" />
        <activity android:name=".ProjectDemoActivity" />
        <activity android:name=".Projects.Ad.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
    </application>

</manifest>